{% extends 'base.html' %}
{% block content %}
    <div class="container mt-3 mb-3">
        <form method="post">
        {% csrf_token %}
        <div class="container form-control">
            <h1 class="mb-3"> Are you sure you want to delete the post  : {{ object.title }}</h1>
            <button type="submit" class="btn btn-outline-danger mt-3 mb-3">Yes, Delete</button>
            <a class="btn btn-outline-secondary mt-3 mb-3" href="{% url 'post-detail' object.id %}" >Cancel</a>
        </div>
        </form>

{% endblock %}
